<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>保持你的好奇心</string>
	<string>算了吧</string>
	<string>谁说得准，先观望</string>
	<string>找人给你点意见</string>
	<string>做自己喜欢的事</string>
	<string>千万别傻</string>
	<string>请教妈妈</string>
	<string>当然咯</string>
	<string>把心揣怀里</string>
	<string>不</string>
	<string>可以试试</string>
	<string>去挖掘真相</string>
	<string>有风险，但有机会</string>
	<string>答案在镜子里</string>
	<string>可以的</string>
	<string>把握时机</string>
	<string>时机不对</string>
	<string>不行的</string>
	<string>要有耐心</string>
	<string>量力而行</string>
	<string>你需要了解真相</string>
	<string>这事不靠谱</string>
	<string>信任</string>
	<string>参考成功案例</string>
	<string>观望吧</string>
	<string>列个清单</string>
	<string>真棒！</string>
	<string>不作死就不会死</string>
	<string>天上要掉馅饼了</string>
	<string>可能有另一种情况</string>
	<string>注意细节</string>
	<string>原计划</string>
	<string>会更好的</string>
	<string>不要犹豫</string>
	<string>勇敢些</string>
	<string>转移你的注意力</string>
	<string>多想想</string>
	<string>试试卖萌</string>
	<string>走容易走的路</string>
	<string>告诉自己什么最重要</string>
	<string>实现梦想</string>
	<string>看上去完美，不一定完美</string>
	<string>换一个方案</string>
	<string>谁都不能保证</string>
	<string>上帝为你关掉一扇门\n肯定会为你打开一扇窗</string>
	<string>稍纵即逝</string>
	<string>问天问地，不如问自己</string>
	<string>说出来吧</string>
	<string>学会妥协</string>
	<string>掌握更多信息</string>
	<string>寻找更多的选择</string>
	<string>别让他影响到你</string>
	<string>随波逐流未必是好事</string>
	<string>扫清障碍</string>
	<string>改变不了世界，改变自己</string>
	<string>用心去做</string>
	<string>至关重要</string>
	<string>培养爱好</string>
	<string>你就是答案</string>
	<string>再考虑一下</string>
	<string>主动一点</string>
	<string>学会珍惜</string>
	<string>去做</string>
	<string>分散注意力</string>
	<string>借助力量</string>
	<string>提升自己</string>
	<string>不要忘记</string>
	<string>相信自己</string>
	<string>行好事</string>
	<string>制定一个计划</string>
	<string>机会难得</string>
	<string>努力争取</string>
	<string>对别人保密</string>
	<string>为什么不</string>
	<string>竭尽全力</string>
	<string>勿忘初心，方得始终</string>
	<string>计划赶不上变化</string>
	<string>去争取机会</string>
	<string>多理解一些</string>
	<string>并不明智</string>
	<string>对他人慷慨</string>
	<string>等待更好的</string>
	<string>相信你最初的想法</string>
	<string>保持良好状态</string>
	<string>善于发现</string>
	<string>好的</string>
	<string>发掘新的爱好</string>
	<string>很快能解决</string>
	<string>重心放在工作/学习上</string>
	<string>调整自己</string>
	<string>养成好的习惯</string>
	<string>采取行动</string>
	<string>会越来越好</string>
	<string>保持冷静</string>
	<string>对的</string>
	<string>尽快解决</string>
	<string>醒醒吧，别做梦了</string>
	<string>时间可以淡忘一切</string>
	<string>默数十秒再问我</string>
	<string>重要</string>
	<string>别让自己后悔</string>
	<string>毫无疑问</string>
	<string>珍惜自己</string>
	<string>休息一会</string>
	<string>意义非凡</string>
	<string>行动起来</string>
	<string>换个角度想想</string>
	<string>把握尺度</string>
	<string>等待</string>
	<string>不赌</string>
	<string>爱自己</string>
	<string>当然</string>
	<string>从来没有</string>
	<string>惊喜很近</string>
	<string>去尝试</string>
	<string>发挥你的想象力</string>
	<string>错的</string>
	<string>肯定自己</string>
	<string>寻找一个指路人</string>
	<string>改变缺点</string>
	<string>这是一个机会</string>
	<string>听听歌</string>
	<string>别冒险</string>
	<string>没有</string>
	<string>荒谬</string>
	<string>时间久了就不再那么重要了</string>
	<string>变化会很快</string>
	<string>时机不对</string>
	<string>关注自己</string>
	<string>它会带来好运</string>
	<string>令人期待</string>
	<string>尽早完成</string>
	<string>玩得开心就好</string>
	<string>转移注意力</string>
	<string>记录下来</string>
	<string>理解万岁</string>
	<string>随他去吧</string>
	<string>放松一下</string>
	<string>别要求太多</string>
	<string>肯定</string>
	<string>需要一个适应的过程</string>
	<string>我确定</string>
	<string>想法太多，选择太少</string>
	<string>谨慎</string>
	<string>不要迫于压力改变初衷</string>
	<string>注意细节</string>
	<string>不要害怕</string>
	<string>眼光放远一些</string>
	<string>去改变</string>
	<string>要有耐心</string>
	<string>显而易见</string>
	<string>不要拖延</string>
	<string>不可预测</string>
	<string>表示怀疑</string>
	<string>抗拒</string>
	<string>做自己</string>
	<string>一笑而过</string>
	<string>生活还要继续</string>
	<string>你不会失望的</string>
	<string>不要忽略身边的人</string>
	<string>克服困难</string>
	<string>毋庸置疑</string>
	<string>寻找更多的选择</string>
	<string>也许有更好的解决方案</string>
	<string>组织情况变坏</string>
	<string>你也许会失望</string>
	<string>你需要一些帮助</string>
	<string>不值得斗争</string>
	<string>负责</string>
	<string>需要花点时间</string>
	<string>协作</string>
	<string>取决于你的选择</string>
	<string>坚持就是胜利</string>
	<string>带着好玩的好奇心去探索它</string>
	<string>这时候非常非常不顺利</string>
	<string>努力就好</string>
	<string>对别人保密</string>
	<string>研究，然后享受它</string>
	<string>千万别陷入你的个人感情</string>
	<string>向前一步</string>
	<string>趁早做</string>
	<string>它仍将无法预测</string>
	<string>把它写下来</string>
	<string>遵守规则</string>
	<string>它好像是确定的</string>
	<string>最好等等看</string>
	<string>改变你的焦点</string>
	<string>采取一个大胆的态度</string>
	<string>你将会很开心你这样做了‘</string>
	<string>期望能够解决</string>
	<string>先把其他事情完成</string>
	<string>享受体验</string>
	<string>全力以赴</string>
	<string>更换一下重要事项的优先顺序</string>
	<string>装作它已经是真的了</string>
	<string>保持灵活性</string>
	<string>那将会是一种金钱的浪费</string>
	<string>它将是你无法忘怀的事</string>
	<string>可能</string>
	<string>你会说了算</string>
	<string>让它过去吧</string>
	<string>迫切要求停止</string>
	<string>他将会扶持你</string>
	<string>它有着非常重要的意义</string>
	<string>数到10，再问一遍</string>
</array>
</plist>
